<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>

    <body>
        <div class="container" style="margin-top: 20px">
            <h1>Submit food</h1>
            <form action="" method="POST">
                {% csrf_token %} {{form.as_p}}
                <input type="submit" name="Submit" />
                <a href="{% url 'home' %}">Cancel</a>
            </form>
        </div>
    </body>
</html>
