<!DOCTYPE html>
<html>
    <head>
        <title>Our Funky HTML Page</title>
        <meta name="description" content="Our first page" />
        <meta name="keywords" content="html tutorial template" />
    </head>
    <body>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <form action="" method="POST">
                        {% csrf_token %} {{form }}

                        <input type="submit" name="Submit" />
                    </form>
                </div>
            </div>
        </div>

        <div class="input-group mb-3 w-25">
            <div class="input-group-prepend">
                <form class="col" action="" method="POST">
                    {% csrf_token %} {{form }} <input type="submit"
                    value=Submit">
                </form>
                -->
            </div>
        </div>
    </body>
</html>
