<!DOCTYPE html>
<html>
    <head>
        <title>Our Funky HTML Page</title>
        <meta name="description" content="Our first page" />
        <meta name="keywords" content="html tutorial template" />
    </head>
    <body>
        <div class="container" style="display: flex; align-items: center; justify-content: center">
                <h1> Are you sure you want to delete "{{item}}"? </h1>
                <form action="{% url 'delete_food' item.id %}" method="POST">
                    {% csrf_token %} 
                    <a href="{% url 'home' %}">Cancel</a>
                    <input type="submit" name="Confirm" />
                </form>
        <div>
    </body>
</html>