<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link
            href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
            rel="stylesheet"
        />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <script
            src="https://kit.fontawesome.com/yourcode.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
            crossorigin="anonymous"
        ></script>
        <style>
            .numbers {
                margin: 0;
                padding: 0;
                margin-left: auto;
                margin-right: 15px;
            }
            .chart {
                position: relative;
                width: 20px;
                height: 0px;
                margin-right: 200px;
            }
            canvas {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
            span {
                color: #555;
                display: block;
                line-height: 220px;
                text-align: center;
                width: 220px;
                font-family: sans-serif;
                font-size: 40px;
                font-weight: 100;
                margin-left: 5px;
            }
        </style>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button
                class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                id="sidebarToggle"
                href="#!"
            >
                <i class="fas fa-bars"></i>
            </button>
            <!-- Navbar Search-->
            <form
                class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
            >
                <div class="input-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Search for..."
                        aria-label="Search for..."
                        aria-describedby="btnNavbarSearch"
                    />
                    <button
                        class="btn btn-primary"
                        id="btnNavbarSearch"
                        type="button"
                    >
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="fas fa-user fa-fw"></i
                    ></a>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdown"
                    >
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li>
                            <a class="dropdown-item" href="#!">Activity Log</a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav
                    class="sb-sidenav accordion sb-sidenav-dark"
                    id="sidenavAccordion"
                >
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'add_food' %}">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </div>
                                Add Food
                            </a>
                            <a class="nav-link" href="{% url 'add_goal' %}">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </div>
                                Add Goal
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a
                                class="nav-link collapsed"
                                href="#"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts"
                                aria-expanded="false"
                                aria-controls="collapseLayouts"
                            >
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-columns"></i>
                                </div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div
                                class="collapse"
                                id="collapseLayouts"
                                aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordion"
                            >
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a
                                        class="nav-link"
                                        href="layout-static.html"
                                        >Static Navigation</a
                                    >
                                    <a
                                        class="nav-link"
                                        href="layout-sidenav-light.html"
                                        >Light Sidenav</a
                                    >
                                </nav>
                            </div>
                            <a
                                class="nav-link collapsed"
                                href="#"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapsePages"
                                aria-expanded="false"
                                aria-controls="collapsePages"
                            >
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-book-open"></i>
                                </div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div
                                class="collapse"
                                id="collapsePages"
                                aria-labelledby="headingTwo"
                                data-bs-parent="#sidenavAccordion"
                            >
                                <nav
                                    class="sb-sidenav-menu-nested nav accordion"
                                    id="sidenavAccordionPages"
                                >
                                    <a
                                        class="nav-link collapsed"
                                        href="#"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#pagesCollapseAuth"
                                        aria-expanded="false"
                                        aria-controls="pagesCollapseAuth"
                                    >
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div
                                        class="collapse"
                                        id="pagesCollapseAuth"
                                        aria-labelledby="headingOne"
                                        data-bs-parent="#sidenavAccordionPages"
                                    >
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a
                                                class="nav-link"
                                                href="login.html"
                                                >Login</a
                                            >
                                            <a
                                                class="nav-link"
                                                href="register.html"
                                                >Register</a
                                            >
                                            <a
                                                class="nav-link"
                                                href="password.html"
                                                >Forgot Password</a
                                            >
                                        </nav>
                                    </div>
                                    <a
                                        class="nav-link collapsed"
                                        href="#"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#pagesCollapseError"
                                        aria-expanded="false"
                                        aria-controls="pagesCollapseError"
                                    >
                                        Error
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div
                                        class="collapse"
                                        id="pagesCollapseError"
                                        aria-labelledby="headingOne"
                                        data-bs-parent="#sidenavAccordionPages"
                                    >
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html"
                                                >401 Page</a
                                            >
                                            <a class="nav-link" href="404.html"
                                                >404 Page</a
                                            >
                                            <a class="nav-link" href="500.html"
                                                >500 Page</a
                                            >
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-chart-area"></i>
                                </div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-table"></i>
                                </div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">2022-10-13</h1>
                        <div style="display: flex">
                            <h1 style="margin-bottom: 50px">
                                Your meals for the day!
                            </h1>
                        </div>
                        <div class="row">
                            {% for food in today %}
                            <div
                                class="col-xl-3 col-md-6"
                                style="min-width: 400px"
                            >
                                <div class="card bg-primary text-white mb-4">
                                    <div
                                        class="card-body"
                                        style="display: flex"
                                    >
                                        {{food.name}}
                                        <div style="margin-left: auto">
                                            {{food.day}}
                                            <a
                                                href="{% url 'delete_food' food.id %}"
                                            >
                                                <i
                                                    class="fas fa-trash"
                                                    style="
                                                        color: white;
                                                        margin-left: 10px;
                                                    "
                                                ></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-footer mt--3">
                                        <ul>
                                            <li>
                                                <div style="display: flex">
                                                    Sugar (g):
                                                    <p class="numbers">
                                                        {{food.sugar_g}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Fiber (g):
                                                    <p class="numbers">
                                                        {{food.fiber_g}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Serving Size (g):
                                                    <p class="numbers">
                                                        {{food.serving_size_g}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Sodium (mg):
                                                    <p class="numbers">
                                                        {{food.sodium_mg}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Potassium (mg):
                                                    <p class="numbers">
                                                        {{food.potassium_mg}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Saturated Fat (g):
                                                    <p class="numbers">
                                                        {{food.fat_saturated_g}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Total Fat (g):
                                                    <p class="numbers">
                                                        {{food.fat_total_g}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Calories:
                                                    <p class="numbers">
                                                        {{food.calories}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Cholestoral (mg):
                                                    <p class="numbers">
                                                        {{food.cholesterol_mg}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Protein (g):
                                                    <p class="numbers">
                                                        {{food.protein_g}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div style="display: flex">
                                                    Carbs (g):
                                                    <p class="numbers">
                                                        {{food.carbohydrates_total_g}}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div style="margin-left: auto">
                            {% for goal in goals %}
                            <div
                                class="chart"
                                id="graph"
                                data-percent={{goal.progress}}
                            ></div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'add_goal' %}">Add Goal</a>
                        <table class="table table-sm">
                            {% for goal in goals %}
                            <tr>
                                <td>{{goal.amount}}</td>
                                <td>{{goal.nutrient}}</td>
                                <td>
                                    <a href="{% url 'delete_goal' goal.id %}"
                                        >Delete Goal</a
                                    >
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div
                            class="d-flex align-items-center justify-content-between small"
                        >
                            <div class="text-muted">
                                Copyright &copy; Your Website 2022
                            </div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>
            var el = document.getElementById('graph') // get canvas

            var options = {
                percent: el.getAttribute('data-percent') || 25,
                size: el.getAttribute('data-size') || 220,
                lineWidth: el.getAttribute('data-line') || 15,
                rotate: el.getAttribute('data-rotate') || 0,
            }

            var canvas = document.createElement('canvas')
            var span = document.createElement('span')
            span.textContent = options.percent + '%'

            if (typeof G_vmlCanvasManager !== 'undefined') {
                G_vmlCanvasManager.initElement(canvas)
            }

            var ctx = canvas.getContext('2d')
            canvas.width = canvas.height = options.size

            el.appendChild(span)
            el.appendChild(canvas)

            ctx.translate(options.size / 2, options.size / 2) // change center
            ctx.rotate((-1 / 2 + options.rotate / 180) * Math.PI) // rotate -90 deg

            //imd = ctx.getImageData(0, 0, 240, 240);
            var radius = (options.size - options.lineWidth) / 2

            var drawCircle = function (color, lineWidth, percent) {
                percent = Math.min(Math.max(0, percent || 1), 1)
                ctx.beginPath()
                ctx.arc(0, 0, radius, 0, Math.PI * 2 * percent, false)
                ctx.strokeStyle = color
                ctx.lineCap = 'round' // butt, round or square
                ctx.lineWidth = lineWidth
                ctx.stroke()
            }

            drawCircle('#efefef', options.lineWidth, 100 / 100)
            drawCircle('#555555', options.lineWidth, options.percent / 100)
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
